<h1>Welcome#sample</h1>
<p>Find me in app/views/welcome/sample.html.erb</p>
<%= "this is a sample line of (code)" "cotroller says #{@controller_message}"%>

<%# link_to ("get to the index",
	{:controller => 'welcome',
		:action => "index"}) %>